main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  & .hero-img {
  }
  & .desc-hero h1 {
  }
}
