/* Main Section */
main {
  display: flex;
  align-items: center;
  height: auto;
  padding: 8rem;
  width: 100%;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  & .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  & .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    flex-basis: 50%;
  }
  & .intro h1 {
    font-size: 2.4rem;
  }
  & .intro p {
    font-size: 1rem;
  }
}
/* Featured Section */
.featured-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 6rem;
  background: #081bc1;
  background: linear-gradient(to left, #004e92, #000428);
  & .title {
    font-size: 1.6rem;
    display: inline-block;
    margin: 2rem 0;

    ::after {
      content: "";
      background: #ff523b;
      width: 80px;
      height: 5px;
      border-radius: 5px;
      position: absolute;

      left: 50%;
      transform: translateX(-50%);
    }
  }
  & .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-basis: 25%;
    transition: all 5s;
    & :hover {
      transform: translateY(-5px);
      cursor: pointer;
    }
  }
  .col-4 {
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    background: #000046; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #1cb5e0,
      #000046
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #1cb5e0,
      #000046
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    & .pics {
      width: 200px;
      height: 200px;
      border-radius: 0.5rem;
    }
    & .description {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      margin-bottom: 0.2rem;
    }
    & .description h2 {
      font-size: 1rem;
    }
    & .description p {
      font-size: 0.8rem;
    }
    & .rating img {
      width: 20px;
      height: 20px;
      color: red;
    }
  }
}
/* Trending Section */
.trending-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 6rem;
  background: #081bc1;
  background: linear-gradient(to left, #004e92, #000428);
  & .title {
    font-size: 1.6rem;
    display: inline-block;
    margin: 2rem 0;

    ::after {
      content: "";
      background: #ff523b;
      width: 80px;
      height: 5px;
      border-radius: 5px;
      position: absolute;

      left: 50%;
      transform: translateX(-50%);
    }
  }
  & .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-basis: 25%;
    transition: all 5s;
    & :hover {
      transform: translateY(-5px);
      cursor: pointer;
    }
  }
  .col-4 {
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    background: #000046; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #1cb5e0,
      #000046
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #1cb5e0,
      #000046
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    & .pics {
      width: 200px;
      height: 200px;
      border-radius: 0.5rem;
    }
    & .description {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      margin-bottom: 0.2rem;
    }
    & .description h2 {
      font-size: 1rem;
    }
    & .description p {
      font-size: 0.8rem;
    }
    & .rating img {
      width: 20px;
      height: 20px;
    }
  }
}
/* Trending Section */
.trending-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 6rem;
  background: #081bc1;
  background: linear-gradient(to left, #004e92, #000428);
  & .title {
    font-size: 1.6rem;
    display: inline-block;
    margin: 2rem 0;

    ::after {
      content: "";
      background: #ff523b;
      width: 80px;
      height: 5px;
      border-radius: 5px;
      position: absolute;

      left: 50%;
      transform: translateX(-50%);
    }
  }
  & .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-basis: 25%;
    transition: all 5s;
    & :hover {
      transform: translateY(-5px);
      cursor: pointer;
    }
  }
  .col-4 {
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    background: #000046; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #1cb5e0,
      #000046
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #1cb5e0,
      #000046
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    & .pics {
      width: 200px;
      height: 200px;
      border-radius: 0.5rem;
    }
    & .description {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      margin-bottom: 0.2rem;
    }
    & .description h2 {
      font-size: 1rem;
    }
    & .description p {
      font-size: 0.8rem;
    }
    & .rating img {
      width: 20px;
      height: 20px;
    }
  }
}
/* Latest Section */
.latest-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 6rem;
  background: #081bc1;
  background: linear-gradient(to left, #004e92, #000428);
  & .title {
    font-size: 1.6rem;
    display: inline-block;
    margin: 2rem 0;

    ::after {
      content: "";
      background: #ff523b;
      width: 80px;
      height: 5px;
      border-radius: 5px;
      position: absolute;

      left: 50%;
      transform: translateX(-50%);
    }
  }
  & .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-basis: 25%;
    transition: all 5s;
    & :hover {
      transform: translateY(-5px);
      cursor: pointer;
    }
  }
  .col-4 {
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    background: #000046; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #1cb5e0,
      #000046
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #1cb5e0,
      #000046
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    & .pics {
      width: 200px;
      height: 200px;
      border-radius: 0.5rem;
    }
    & .description {
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      margin-bottom: 0.2rem;
    }
    & .description h2 {
      font-size: 1rem;
    }
    & .description p {
      font-size: 0.8rem;
    }
    & .rating img {
      width: 20px;
      height: 20px;
    }
  }
}
/* Footer Section */
